{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-block page-section" id="downloads">
        <div class="section-h2">
            <h2>
                Téléchargements
            </h2>
        </div>
        <div class="section-content">
            <ul>
            {% for item in items %}
                {% set url = path('dl_anything_lang', {token: item.token, lang: item.lang, inline: 1}) %}
                <li class="file-item {{ not item.isValid ? 'invalid-item' }}" data-token="{{ item.token }}">
                    <a {% if item.isValid %}href="{{ url }}"{% endif %}>
                        <i class="far {{ item.faCssClass }} icon"></i>
                        <span class="title">{{ item.name }}</span>
                        <span class="lang">{{ item.lang ? '(' ~ item.lang|upper ~ ')' }}</span>
                        {% if not item.isValid %}
                            <p class="invalid-msg"><i class="fa fa-triangle-exclamation"></i> Fichier absent</p>
                        {% endif %}
                    </a>
                    {% if item.isValid %}
                    <div>
                        {% include 'main/copyLinkAction.html.twig' with {url: url} only %}
                    </div>
                    {% endif %}

                </li>
            {% endfor %}
            </ul>
            <p class="text-block">Pour obtenir les fichiers sons, contacter
                <em>ftiymusic [at] gmail.com</em>
            </p>
        </div>
    </section>
{% endblock %}